[submodule "drivers/htu21df"]
	path = drivers/htu21df
	url = https://github.com/dalexgray/RaspberryPI_HTU21DF
[submodule "drivers/tsl256x"]
	path = drivers/tsl256x
	url = git@github.com:theFork/tsl256x
