html {
    height: 100%;
}

body {
    background:  #eee;
    font-family: sans-serif;
    height:      95%;
}

a, h1, h2 {
    color: #377ba8;
}

h1, h2 {
    font-family: 'Georgia', serif;
    margin:       0;
}

#chart {
    width:      90%;
    height:     66%;
    margin:     auto;
    margin-top: 2em;
}

#timeslot_select {
    width:      80%;
    margin:     auto;
    margin-top: 2em;
}

#timeslot_select ul {
    display: inline;
}

#timeslot_select ul li {
    display:    inline;
    float:      left;
    margin-top: 1em;
}

#timeslot_select ul li:last-child {
    display: inline-block;
    float:   right;
}
